@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: "Nixie One", serif;
}

.clock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.digit-container {
  position: relative;
  width: 100px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(hexmap4.png);
  background-size: 100%;
}

.digit {
  position: absolute;
  font-size: 160px;
  font-weight: bold;
  opacity: 0.2;
  color: #5a3e26;
  text-shadow: 0 0 2px #3d2b1f;
}

.illuminated {
  opacity: 1;
  color: orange;
  text-shadow: 0 0 10px #ff8c00, 0 0 20px #ff4500, 0 0 30px #ff8c00,
    0 0 50px rgba(255, 140, 0, 0.8);
}

.separator {
  font-size: 120px;
  color: orange;
  /* text-shadow: 0 0 10px #ff8c00, 0 0 20px #ff4500; */
  text-shadow: 0 0 10px #ff8c00, 0 0 20px #ff4500, 0 0 30px #ff8c00,
    0 0 50px rgba(255, 140, 0, 0.8);
}
